@using MvcKutuphaneProje.Models.Entity
@model List<TBL_KITAPLAR>
@{
    ViewBag.Title = "Yazarkitap";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 style="text-align:center; color:red; margin-top:20px; margin-bottom:20px;">@ViewBag.Yazar</h2>

<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>KİTAP ADI</td>
        <td>KATEGORİ</td>
        <td>YAYINEVİ</td>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AD</td>
            <td>@x.TBL_KATEGORILER.AD</td>
            <td>@x.YAYINEVI</td>
        </tr>
    }
</table>

